body {
  font-family: 'Red Hat Display', sans-serif;
  background: #b9fb9c;
}

html {
  font-size: 62.5%;
}

/* Typeography */

h1 {
  display: inline;
  font-size: 2.5rem;
  letter-spacing: 0.5px;
  font-weight: 900;
  margin: 0;
}

h1:hover {
  border-bottom: 1px solid #000;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 1.7rem;
  letter-spacing: 1px;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: 1px;
}

h6 {
  font-size: 3.7rem;
  font-weight: 900;
}

p {
  font-size: 2rem;
  line-height: 3.4rem;
}

/* Links */
a {
  text-decoration: none;
  color: #000;
}

/* Lists */
li {
  list-style: none;
}

/* Buttons */
.btn {
  height: 50px;
  font-size: 1.6rem;
  font-weight: 800;
}

.btn--primary {
  width: 200px;
  cursor: pointer;
  background: none;
  letter-spacing: 1.5px;
  border: 2px solid #000;
  margin: 1rem;
}

.btn--primary:hover {
  color: rgb(44, 44, 44);
}

.btn--secondary {
  width: 120px;
  background: #000;
  color: #b9fb9c;
}

.btn--secondary:hover {
  opacity: 0.9;
}

/* Icons */
.icon {
  margin: 2rem;
  font-size: 25px;
  display: inline;
  transition: font-size 0.1s;
}

.icon:hover {
  font-size: 30px;
}
